#footer {
  width: 100%;
  height: 120px;
  color: blanchedalmond;
  background-color: black; }

.footer_cntr {
  width: 80%;
  margin: auto; }

.para {
  line-height: 22px;
  letter-spacing: 1.2px;
  width: 60%;
  text-align: center;
  margin: auto; }

.top-nav a:link {
  font-size: 1rem; }

.image-heading {
  font-size: 60px;
  color: white;
  margin: 20px 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.row {
  width: 100%; }

.col {
  float: left;
  padding: 10px;
  margin: 15px 0.15%; }

.clearfix::after {
  clear: both;
  display: table;
  content: ""; }

.text-container {
  margin-bottom: 20px; }

#menu {
  width: 100%;
  height: auto;
  background-color: red; }

#myBtnContainer {
  width: 70%;
  margin: auto; }

.container {
  width: 80%;
  margin: auto;
  background-color: yellow;
  overflow: hidden; }

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 300px;
  line-height: 40px;
  text-align: center;
  margin: 2px;
  display: none;
  /* Hidden by default */ }

/* The "show" class is added to the filtered elements */
.show {
  display: block; }

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 1%;
  margin: 1%;
  font-family: "Luckiest Guy", cursive;
  font-size: 1rem;
  border-radius: 10px;
  background-color: white;
  cursor: pointer; }

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd; }

/* Add a dark background to the active button */
.btn.active {
  background-color: #E2202D;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white; }

@media screen and (min-width: 501px) {
  header {
    width: 100%;
    height: auto;
    background-color: #E2202D;
    position: fixed;
    top: 0;
    left: 0; }

  .logo_cntr {
    position: absolute;
    width: 10%;
    height: 100%; }

  .brand_cntr {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

  .brand {
    font-family: "Luckiest Guy", cursive;
    font-size: 5rem;
    margin-top: 20px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-align: center; }

  .logo {
    width: 70%;
    height: auto; }

  .menu-icon-container,
  .menu-icon {
    display: none; }

  .top-nav {
    position: relative;
    z-index: -1;
    width: 100%;
    background-color: #E2202D;
    display: block; }
    .top-nav ul {
      width: 80%;
      margin: auto; }
      .top-nav ul li {
        color: black;
        width: 14.5%;
        text-align: center;
        display: inline-block;
        margin: 0 2.5%;
        font-family: "Luckiest Guy", cursive;
        font-size: 1.4rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white; }
      .top-nav ul a.ex2:hover, .top-nav ul a.ex2:active {
        font-size: 150%; }
      .top-nav ul a:hover {
        color: #E2202D;
        font-size: 5rem; }

  .banner_cntr {
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../images/bannerimg01.jpg);
    background-size: cover;
    background-repeat: no-repeat; }

  #oderonline {
    background-color: #F58F31;
    height: 100vh; }

  .order_text_cntr {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

  button {
    width: 20%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer; }

  .order_headline {
    font-family: "Luckiest Guy", cursive;
    font-size: 2rem;
    padding: 1%;
    color: black; }

  .order_headline:hover {
    color: black;
    background-color: #E2202D;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; }

  .delivery_boy {
    width: 50%;
    padding: 1%; }

  .delivery_home {
    width: 50%;
    padding: 1%;
    float: right; }

  .home_delivery_img {
    float: right; } }
@media screen and (max-width: 500px) {
  .top-nav {
    background-color: black;
    display: none; }
    .top-nav ul {
      margin: 0 10px;
      border: 1px solid maroon; }
      .top-nav ul li {
        list-style: none;
        height: 40px;
        width: 100%;
        background: pink;
        margin: 1% 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold; }
        .top-nav ul li a:link {
          color: maroon;
          text-decoration: none; }

  .logo-container {
    border: 1px solid red;
    width: 80%;
    height: 100px;
    margin: 0;
    float: left; }

  .logo {
    width: 10%;
    height: auto;
    margin: 0px;
    border: 1px solid blue; }

  .menu-icon-container {
    float: right;
    padding: 10px 0;
    width: 20%;
    height: 100px;
    border: 1px solid blue; }

  .menu-icon {
    font-size: 45px;
    color: maroon;
    margin: 10px;
    float: right; }

  .banner_cntr {
    background-image: url(../images/bannerimg01.jpg);
    background-size: 100%;
    background-repeat: no-repeat; }

  #oderonline_cntr {
    width: 100%;
    height: 100px;
    background-color: yellow; } }

/*# sourceMappingURL=style.css.map */
