@media screen and (min-width: 501px) {
  header {
    @include dimension(100%, auto);
    background-color: #E2202D;
    position: fixed;
    top: 0;
    left: 0;
  }

  .logo_cntr {
    position: absolute;
    @include dimension(10%, 100%);
    // border: 1px solid blue;
  }

  .brand_cntr {
    position: relative; 
    top: 0;
    left: 0;
    @include dimension(100%,100%);
  }

  .brand {
    font-family: "Luckiest Guy", cursive;
    font-size: 5rem;
    margin-top: 20px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-align: center;
  }

  .logo {
    width: 70%;
    height: auto;
  }

  .menu-icon-container,
  .menu-icon {
    display: none;
  }

  .top-nav {
    position: relative;
    z-index: -1;
    width: 100%;
    background-color: #E2202D;
    display: block;
    // border: 1px solid pink;

    ul {
      // padding: 2% 0;
      width: 80%;
      margin: auto;
      // border: 1px solid yellow;
      li {
        color: black;
        width: 14.5%;
        text-align: center;
        // border: 1px solid green;
        display: inline-block;
        margin: 0 2.5%;
        font-family: "Luckiest Guy", cursive;
        font-size: 1.4rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
      }

      a.ex2:hover, a.ex2:active
      {font-size: 150%;}

      a:hover {
      color: #E2202D;
      font-size: 5rem;
      }

      // a:link {
      //   color: yellow;

      //   // margin: 30px;
      //   // padding:20px;
      // }
      // a:visited {
      //   color: pink;
      // }
      
    }
  }

  
  .banner_cntr {
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../images/bannerimg01.jpg),;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #oderonline{
    background-color: #F58F31;
    height: 100vh;
  }

  .order_text_cntr{
  width: 100%;
  display: flex;
   justify-content: center;
   align-items: center;
  }

button{
  width: 20%;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  }

  .order_headline{
   font-family: "Luckiest Guy", cursive;
   font-size: 2rem;
   padding: 1%;
   color:black;
  //  -webkit-text-stroke-width: 1px;
  //  -webkit-text-stroke-color:black;
   
  }

  .order_headline:hover {
    color: black;
    background-color: #E2202D;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:white;
  }
  
  .delivery_boy{
    width: 50%;
    padding: 1%;
  }
  
  .delivery_home{
    width: 50%;
    padding: 1%;
    float: right;
  }

  .home_delivery_img{
    float: right;
  }







} //////////////Desktop media query ends here
