#logo_cntr {
    width: 100%;
    background-color: #e2202d;
  }
  
  .logo_img {
    
    border: 2px solid green;
  }
  
  .brand_name {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size:  4rem;
    text-align: center;
    stroke-width: 1rem;
    -webkit-text-stroke: 4px white;
    border: 2px solid green;
    float: right;
    margin-right: 50%;
  }
  